* {
     margin: 0;
     padding: 0;

   }
   body {
     font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
       "Lucida Sans", Arial, sans-serif;
   }
   /* H O M E */
   .wrapper,
   .question-wrap {
     background: #4b5c69;
     height: 100vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
   }
   .inner-wrap,
   .question-inner {
     max-height: 70vh;
     width: 400px;
     margin: 0 20px;
     background: #f5fffe;
     border-radius: 5px;
     padding: 40px 50px;
   }
   .inner-wrap h1 {
     font-size: 2.5rem;
     font-weight: bold;
     color: rgb(54, 54, 54);
     margin-bottom: 20px;
   }
   .inner-wrap p {
     font-size: 1.1rem;
     margin-bottom: 5px;
   }
   .inner-wrap input,
   .inner-wrap select {
     font-size: 1.1rem;
     margin-bottom: 30px;
     width: 100%;
     border: none;
     background: rgb(228, 228, 228);
     padding: 3px 5px;
     border-radius: 4px;
     outline: none;
   }
   .inner-wrap select {
     font-size: 1rem;
   }
   .inner-wrap button {
     font-size: 1.2rem;
     font-weight: bold;
     background: #e2ab15;
     color: rgb(34, 34, 34);
     border-radius: 5px;
     outline: none;
     border: none;
     cursor: pointer;
     padding: 5px 0;
     width: 100%;
     transition: ease 0.1s;
   }
   .inner-wrap button:hover {
     background: #161d24;
     color: rgb(223, 223, 223);
   }
   .error {
     text-align: center;
     font-size: 1rem !important;
     margin-bottom: 15px !important;
     color: rgb(241, 76, 26);
   }
   @media (max-width: 350px) {
     .inner-wrap {
       padding: 20px 30px;
     }
     .inner-wrap h1 {
       font-size: 1.5rem;
     }
     .inner-wrap p {
       font-size: 0.9rem;
     }
     .inner-wrap input {
       font-size: 0.9rem;
     }
     .inner-wrap select {
       font-size: 0.8rem;
     }
     .inner-wrap button {
       font-size: 0.9rem;
     }
     .error {
       font-size: 0.8rem !important;
       margin-bottom: 10px !important;
     }
   }

   
/* Q U E S T I O N S  extra*/

.question-inner {
  min-width: 850px;
  overflow: hidden;
}
.first {
  text-align: end;
  color: #00c44b;
  margin-bottom: 20px;
}
.second,
.pop-inner h1 {
  text-align: center;
  color: #111314;
  margin-bottom: 20px;
}
.third {
  text-align: center;
  width: 100%;
}
.third-btn {
  width: 70%;
  margin: 5px 0;
  background: #9cb3fd;
  border: none;
  padding: 5px 0;
  font-size: 1.1rem;
  color: #111314;
  cursor: pointer;
  border-radius: 5px;
  transition: ease 0.1s;
}
.third-btn:hover {
  background: #191e2d;
  color: #fcfcfc;
}
.fourth {
  text-align: end;
}
.fourth button {
  background: lightskyblue;
  color: rgb(34, 34, 34);
  cursor: pointer;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
  margin-top: 30px;
  border-radius: 5px;
  width: 50%;
  transition: ease 0.3s;
}
.fourth button:hover {
  background: #02154d;
  color: #fcfcfc;
}
@media (max-width: 860px) {
  .question-inner {
    margin: 0 10px;
    padding: 20px;
  }
  .question-inner {
    min-width: unset;
    width: 90vw;
  }
  .second {
    font-size: 1.5rem;
  }
  .third-btn,
  .fourth button,
  .first {
    font-size: 0.9rem;
  }
}
@media (max-width: 400px) {
  .second {
    font-size: 1.2rem;
  }
  .third-btn,
  .fourth button,
  .first {
    font-size: 0.7rem;
  }
  .fourth button {
    width: 70%;
  }
  .third-btn {
    width: 100%;
  }
  .first,
  .fourth {
    text-align: center;
  }
}

/* P O P U P  */

.pop-wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.2s;
}
.pop-inner {
  width: 500px;
  min-height: 250px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}
.pop-inner p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}
.pop-inner button {
  font-size: 1.2rem;
  padding: 6px 25px;
  margin-top: 12px;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(255, 217, 0);
  outline: none;
  border: none;
}

@media (max-width: 600px) {
  .pop-inner {
    width: 80vw;
  }
  .pop-inner p {
    font-size: 1rem;
  }
  .pop-inner button {
    font-size: 0.8rem;
    padding: 6px 15px;
  }
  .pop-inner h1 {
    font-size: 1.5rem;
  }
}


/*************/


.btn{
  padding: 12px 10px;
  background:none;
  color: var(--darkblue);
  outline: 2px solid var(--darkblue);
  outline-offset: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-weight:bolder;
  border: 2px solid var(--black);
  margin-left:500px;
  transition:0.8s;
}

.btn:hover{
  outline-offset: -8px;
  color: var(--darkblue);
  background: none;
}

.btn:nth-child(2){
  outline-offset: -4px;
}
.btn:nth-child(2):hover{
  outline-offset: 4px;
}

.next{
  padding: 10px 20px;
}
.retry{
  padding: 10px 20px;
}
.links{
   margin: 0 30px;
  text-decoration: none;
  color: var(--black);
}

.links::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: var(--orangered);
  margin: auto;
  display: block;
}

.links:hover::after{
  width: 100%;
  transition: width 0.3s linear;
  margin-top: 8;
}
.link-container{
  display: inline-flex;
  position: relative;
  left: 400px;
}

.link:hover{
  color: darkcyan;;
}


.navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  border-bottom: 1px solid var(--light-grey);
}
.navbar .logo{
  color: var(--black);
  text-align: center;
}

.Quiz-container{
  position: relative;
  margin: 50px auto 20px;
  width: 95%;
  max-width: 650px;
  min-height: 350px;
  background: var(--white);
  border: 1px solid var(--bg-white);
  box-shadow:  0px 2px 5px 2px rgba(0,0,0,0.5);
}

.nav-link{
  
  margin: 50px auto 20px;
  width: 95%;
  max-width: 650px;
  min-height: 400px;
  margin-top: 100px;
  text-align: center;
  background: var(--white);
  border: 1px solid var(--bg-white);
  z-index: 1;
}

